<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Notas Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/_inserir.ejs') %>
    <%- include('./partials/_footer.ejs') %>
    <script src="./javascripts/funcoes.js"></script>
    <script>
  document.querySelector('.inserir').style.display = 'block';
      </script> 
  </body>
</html>
